


body {
    background-color:  #f0efef;
}

.headshot {
    border-radius: 100px;
}

a {
    text-decoration: none;
}
/* --------------------
        NAV BAR
---------------------- */

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    padding: 1em 2em;
}

li > a {
    text-decoration: none;
}

/* --------------------
        MAIN
---------------------- */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* --------------------
        WORK
---------------------- */

.project {
    border-top: 2px red solid;
    width: 95%;
    text-align: center;
    margin: 1em 0;
    padding: .5em 0;
}

.project-pics {
    max-width: 95%;
    height: auto;
    border: 0.5px solid black;
}

.site {
    color: black;
    padding: .5em 1em;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-decoration: none;
    margin: .25em;
}

.github {
    color: black;
    padding: .5em 1em;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-decoration: none;
    margin: .25em;
}
/* --------------------
        ABOUT
---------------------- */
.about {
    text-align: center;
    border: 2px red solid;
    width: 95%;
}
.resume {
    color: black;
    padding: .5em 1em;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-decoration: none;
}

.all-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fe-skills {
    width: 49%;
    text-align: left;
    list-style: none;
}

.be-skills {
    width: 49%;
    text-align: left;
    list-style: none;
}

.fe-skills li {
  padding-left: 1rem;
  margin: 0.25rem;
  font-size: 1.5rem;
}

.be-skills li {
  padding-left: 1rem;
  margin: 0.25rem;
  font-size: 1.5rem;
}

.skill-icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

/* --------------------
        CONTACT
---------------------- */
.contact-ways {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contact-option {
    border: 1px solid black;
    text-align: center;
    padding: .5em;
    margin: .5em;
}

/* --------------------
    Large Screens
---------------------- */
@media (min-width:600px) {
    body {
        background-color: lavender;
    }
}
